In [46]:
import pandas as pd
import subprocess

In [47]:
def get_elements_by_pattern(elements: list[str], beginning, end) -> list[str]:
    orig_query_line = list(map(
        lambda s: s[s.index(beginning) + len(beginning) : s.index(end, s.index(beginning))],
        filter(
            lambda s: beginning in s and end in s and s.index(beginning) < s.index(end, s.index(beginning)),
            elements
        )
    ))
    
    if len(orig_query_line) < 1:
        return ["nonono"]
    # make sure exactly one output of this type can be found
    return orig_query_line

def save_analysis(output):
    analysis = pd.DataFrame()
    results = list(filter(lambda x: "[ANALYSIS]" in x, output.split("\n")))
    analysis["query number"] = get_elements_by_pattern(results, '[ANALYSIS] QUERY PATH: "/workspaces/reducer/queries/query', '/original_test.sql"[END ANALYSIS]')

    analysis["original"] = get_elements_by_pattern(results, '[ANALYSIS] ORIGINAL QUERY: "', '"[END ANALYSIS]')
    analysis["delta debugged"] = get_elements_by_pattern(results, '[ANALYSIS] AFTER DELTA DEBUGGING: ', '[END ANALYSIS]')
    #analysis["reduced"] = []

    analysis["#statements original"] = analysis["original"].apply(lambda x: x.count(";"))
    analysis["#statements delta debugged"] = analysis["delta debugged"].apply(lambda x: x.count(";"))
    analysis["#tokens original"] = analysis["original"].apply(lambda s: len(s.split(" ")))

    analysis["DIFF orig-delta"] = analysis["#statements original"] - analysis["#statements delta debugged"]
    return analysis

In [48]:
def build_and_prepare():
    cmd = """
    export CARGO_TARGET_DIR=/target
    export RUST_LOG=info
    cargo build
    """
    result = subprocess.run(cmd, shell=True, capture_output=True, text=True, executable="/bin/bash")
    print(result)

def run_multiple_queries(start=1, stop=21, step=1):
    outputs = []
    for i in range(start, stop, step):
        outputs.append(run_single_query(i))
    return outputs

def run_single_query(query_number):
    cmd = f"""
    cd ../..
    export CARGO_TARGET_DIR=/target
    export RUST_LOG=warn
    cargo build
    cargo run --package reducer --bin reducer -- --query queries/query{query_number}/original_test.sql --test src/resources/native.sh
 
    """
    result = subprocess.run(cmd, shell=True, capture_output=True, text=True)
    output = result.stdout + result.stderr  # Capture both stdout and stderr if needed
    return output

In [53]:
build_and_prepare()
output = run_multiple_queries()

CompletedProcess(args='\n    export CARGO_TARGET_DIR=/target\n    export RUST_LOG=info\n    cargo build\n    ', returncode=0, stdout='', stderr='\x1b[1m\x1b[32m   Compiling\x1b[0m reducer v0.1.0 (/workspaces/reducer)\n\x1b[0m\x1b[1m\x1b[33mwarning\x1b[0m\x1b[0m\x1b[1m: unused import: `std::sync::OnceLock`\x1b[0m\n\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m--> \x1b[0m\x1b[0msrc/driver.rs:8:5\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;12m8\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m \x1b[0m\x1b[0muse std::sync::OnceLock;\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m     \x1b[0m\x1b[0m\x1b[1m\x1b[33m^^^^^^^^^^^^^^^^^^^\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m= \x1b[0m\x1b[0m\x1b[1mnote\x1b[0m\x1b[0m: `#[warn(unused_imports)]` on by default\x1b[0m\n\n\x1b[0m\x1b[1m\x1b[33mwarning\x1b[0m\x1b[0m\x1b[1m: unused import: `log::info`\x1b[0m\n\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m--> \x1b[0m\x1b[0msrc/parser.rs:1:5\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;12m1\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m \x1b[0m\x1b[0muse log::info;\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m     \x1b[0m\x1b[0m\x1b[1m\x1b[33m^^^^^^^^^\x1b[0m\n\n\x1b[0m\x1b[1m\x1b[33mwarning\x1b[0m\x1b[0m\x1b[1m: unused import: `sqlparser::dialect::SQLiteDialect`\x1b[0m\n\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m--> \x1b[0m\x1b[0msrc/parser.rs:4:5\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;12m4\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m \x1b[0m\x1b[0muse sqlparser::dialect::SQLiteDialect;\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m     \x1b[0m\x1b[0m\x1b[1m\x1b[33m^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\x1b[0m\n\n\x1b[0m\x1b[1m\x1b[33mwarning\x1b[0m\x1b[0m\x1b[1m: unused import: `ParserError`\x1b[0m\n\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m--> \x1b[0m\x1b[0msrc/parser.rs:5:33\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;12m5\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m \x1b[0m\x1b[0muse sqlparser::parser::{Parser, ParserError};\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m                                 \x1b[0m\x1b[0m\x1b[1m\x1b[33m^^^^^^^^^^^\x1b[0m\n\n\x1b[0m\x1b[1m\x1b[33mwarning\x1b[0m\x1b[0m\x1b[1m: unused import: `crate::driver`\x1b[0m\n\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m--> \x1b[0m\x1b[0msrc/reducer.rs:2:5\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;12m2\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m \x1b[0m\x1b[0muse crate::driver;\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m     \x1b[0m\x1b[0m\x1b[1m\x1b[33m^^^^^^^^^^^^^\x1b[0m\n\n\x1b[0m\x1b[1m\x1b[33mwarning\x1b[0m\x1b[0m\x1b[1m: unused import: `crate::transformation`\x1b[0m\n\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m--> \x1b[0m\x1b[0msrc/reducer.rs:3:5\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;12m3\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m \x1b[0m\x1b[0muse crate::transformation;\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m     \x1b[0m\x1b[0m\x1b[1m\x1b[33m^^^^^^^^^^^^^^^^^^^^^\x1b[0m\n\n\x1b[0m\x1b[1m\x1b[33mwarning\x1b[0m\x1b[0m\x1b[1m: unused import: `crate::utils::vec_statement_to_string`\x1b[0m\n\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m--> \x1b[0m\x1b[0msrc/reducer.rs:5:5\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;12m5\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m \x1b[0m\x1b[0muse crate::utils::vec_statement_to_string;\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m     \x1b[0m\x1b[0m\x1b[1m\x1b[33m^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\x1b[0m\n\n\x1b[0m\x1b[1m\x1b[33mwarning\x1b[0m\x1b[0m\x1b[1m: unused imports: `Error` and `Read`\x1b[0m\n\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m--> \x1b[0m\x1b[0msrc/reducer.rs:8:15\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;12m8\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m \x1b[0m\x1b[0muse std::io::{Error, Read};\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m               \x1b[0m\x1b[0m\x1b[1m\x1b[33m^^^^^\x1b[0m\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[33m^^^^\x1b[0m\n\n\x1b[0m\x1b[1m\x1b[33mwarning\x1b[0m\x1b[0m\x1b[1m: unused import: `sqlparser::ast`\x1b[0m\n\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m--> \x1b[0m\x1b[0msrc/transformation/constant_fold.rs:4:5\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;12m4\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m \x1b[0m\x1b[0muse sqlparser::ast;\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m     \x1b[0m\x1b[0m\x1b[1m\x1b[33m^^^^^^^^^^^^^^\x1b[0m\n\n\x1b[0m\x1b[1m\x1b[33mwarning\x1b[0m\x1b[0m\x1b[1m: unused import: `Null`\x1b[0m\n\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m--> \x1b[0m\x1b[0msrc/transformation/constant_fold.rs:5:38\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;12m5\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m \x1b[0m\x1b[0muse sqlparser::ast::Value::{Boolean, Null, Number};\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m                                      \x1b[0m\x1b[0m\x1b[1m\x1b[33m^^^^\x1b[0m\n\n\x1b[0m\x1b[1m\x1b[33mwarning\x1b[0m\x1b[0m\x1b[1m: unused import: `Insert`\x1b[0m\n\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m--> \x1b[0m\x1b[0msrc/transformation/constant_fold.rs:7:38\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;12m7\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m \x1b[0m\x1b[0m    BinaryOperator, Expr as SQLExpr, Insert, Query, SelectItem, SetExpr, Statement, UnaryOperator,\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m                                      \x1b[0m\x1b[0m\x1b[1m\x1b[33m^^^^^^\x1b[0m\n\n\x1b[0m\x1b[1m\x1b[33mwarning\x1b[0m\x1b[0m\x1b[1m: unused import: `sqlparser::parser::Parser`\x1b[0m\n\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m--> \x1b[0m\x1b[0msrc/transformation/transformer.rs:3:5\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;12m3\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m \x1b[0m\x1b[0muse sqlparser::parser::Parser;\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m     \x1b[0m\x1b[0m\x1b[1m\x1b[33m^^^^^^^^^^^^^^^^^^^^^^^^^\x1b[0m\n\n\x1b[0m\x1b[1m\x1b[33mwarning\x1b[0m\x1b[0m\x1b[1m: variable does not need to be mutable\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m--> \x1b[0m\x1b[0msrc/delta_debug.rs:54:9\x1b[0m\n\x1b[0m   \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;12m54\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m \x1b[0m\x1b[0m    let mut current = test.to_vec();\x1b[0m\n\x1b[0m   \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m         \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m----\x1b[0m\x1b[0m\x1b[1m\x1b[33m^^^^^^^\x1b[0m\n\x1b[0m   \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m         \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m   \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m         \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12mhelp: remove this `mut`\x1b[0m\n\x1b[0m   \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m   \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m= \x1b[0m\x1b[0m\x1b[1mnote\x1b[0m\x1b[0m: `#[warn(unused_mut)]` on by default\x1b[0m\n\n\x1b[0m\x1b[1m\x1b[33mwarning\x1b[0m\x1b[0m\x1b[1m: function `write_output_to_file` is never used\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m--> \x1b[0m\x1b[0msrc/utils.rs:32:4\x1b[0m\n\x1b[0m   \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;12m32\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m \x1b[0m\x1b[0mfn write_output_to_file(content: String, path: PathBuf) {\x1b[0m\n\x1b[0m   \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m    \x1b[0m\x1b[0m\x1b[1m\x1b[33m^^^^^^^^^^^^^^^^^^^^\x1b[0m\n\x1b[0m   \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m   \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m= \x1b[0m\x1b[0m\x1b[1mnote\x1b[0m\x1b[0m: `#[warn(dead_code)]` on by default\x1b[0m\n\n\x1b[0m\x1b[1m\x1b[33mwarning\x1b[0m\x1b[0m\x1b[1m: unused borrow that must be used\x1b[0m\n\x1b[0m  \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m--> \x1b[0m\x1b[0msrc/driver.rs:29:5\x1b[0m\n\x1b[0m   \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;12m29\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[33m/\x1b[0m\x1b[0m \x1b[0m\x1b[0m    &GLOBAL_TEST_SCRIPT_PATH\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;12m30\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[33m|\x1b[0m\x1b[0m \x1b[0m\x1b[0m        .set(test_script_path)\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;12m31\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[33m|\x1b[0m\x1b[0m \x1b[0m\x1b[0m        .expect("test script path already initialized");\x1b[0m\n\x1b[0m   \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[33m|_______________________________________________________^\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[33mthe borrow produces a value\x1b[0m\n\x1b[0m   \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m   \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m= \x1b[0m\x1b[0m\x1b[1mnote\x1b[0m\x1b[0m: `#[warn(unused_must_use)]` on by default\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;14mhelp\x1b[0m\x1b[0m: use `let _ = ...` to ignore the resulting value\x1b[0m\n\x1b[0m   \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\n\x1b[0m\x1b[1m\x1b[38;5;12m29\x1b[0m\x1b[0m \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m| \x1b[0m\x1b[0m    \x1b[0m\x1b[0m\x1b[38;5;10mlet _ = \x1b[0m\x1b[0m&GLOBAL_TEST_SCRIPT_PATH\x1b[0m\n\x1b[0m   \x1b[0m\x1b[0m\x1b[1m\x1b[38;5;12m|\x1b[0m\x1b[0m     \x1b[0m\x1b[0m\x1b[38;5;10m+++++++\x1b[0m\n\n\x1b[1m\x1b[33mwarning\x1b[0m\x1b[1m:\x1b[0m `reducer` (bin "reducer") generated 15 warnings (run `cargo fix --bin "reducer"` to apply 13 suggestions)\n\x1b[1m\x1b[32m    Finished\x1b[0m `dev` profile [unoptimized + debuginfo] target(s) in 1.15s\n')

In [54]:
results = pd.DataFrame()
if isinstance(output, str):
    results = save_analysis(output)
else:
    for out in output:
        results = pd.concat([results, save_analysis(out)], ignore_index=True)
results

,query number,original,delta debugged,#statements original,#statements delta debugged,#tokens original,DIFF orig-delta
0,1,CREATE TABLE F (p BOOLEAN NOT NULL NULL NOT NU...,CREATE TABLE F (p BOOLEAN NOT NULL NULL NOT NU...,2,2,77,0
1,2,CREATE TABLE IF NOT EXISTS t_DX44 (c_LGUf NUME...,CREATE TABLE IF NOT EXISTS t_DX44 (c_LGUf NUME...,18,5,283,13
2,3,"CREATE TABLE table_0 (table_0_c0 TEXT, table_...",nonono,117,0,1116,117
3,4,CREATE TABLE t0 ( col0 text DEFAULT 'default...,"CREATE TABLE t1 (col0 TEXT, col1 INT, col2 TEX...",42,9,377,33
4,5,"CREATE TABLE biq (ype , ucn , ynu ); CREATE...","CREATE TABLE biq (ype, ucn, ynu); INSERT OR RE...",5,3,67,2
5,6,"CREATE TABLE t0 ( c0 BOOLEAN, c1 INT...","CREATE TABLE t0 (c0 BOOLEAN, c1 INTEGER, c2 BO...",16,7,4058,9
6,7,"CREATE TABLE t0 (c0, c1); CREATE TABLE t1 (c0...",nonono,32,0,394,32
7,8,"CREATE TABLE tbl_wqiwo (icol_dhwup INTEGER, rc...",nonono,41,0,1026,41
8,9,CREATE TABLE t_b8TmXJYj7 (c_NiVEveUN3c NUMERIC...,nonono,30,0,912,30
9,10,CREATE TABLE IF NOT EXISTS t_N96 (c_HoR4r6 REA...,CREATE TABLE IF NOT EXISTS t_N96 (c_HoR4r6 REA...,8,6,160,2
10,11,"CREATE TABLE V (l BOOLEAN UNIQUE UNIQUE, q BOO...","CREATE TABLE V (l BOOLEAN UNIQUE UNIQUE, q BOO...",4,4,67,0
11,12,"CREATE TABLE t0 (c0 DATETIME PRIMARY KEY, c1 D...",nonono,190,0,1229,190
12,13,"CREATE TABLE T1(c1 JSON, c2 INT, c3 REAL); CR...","CREATE TABLE T1 (c1 JSON, c2 INT, c3 REAL); CR...",13,4,164,9
13,14,CREATE TABLE t0 (c0 UNSIGNED BIG INT PRIMARY K...,nonono,534,0,4114,534
14,15,"CREATE TABLE T1(c1 REAL, c2 JSON, c3 REAL NOT ...","CREATE TABLE T1 (c1 REAL, c2 JSON, c3 REAL NOT...",13,7,136,6
15,16,"CREATE TABLE t0 ( c0 BOOLEAN, ...",nonono,2,0,9718,2
16,17,".mode quote CREATE TABLE tbl0(c0 INTEGER, c1 ...",nonono,65,0,3794,65
17,18,"CREATE TABLE t0 ( c0 TEXT, ...","CREATE TABLE t0 (c0 TEXT, c1 TEXT, c2 BOOLEAN,...",2,2,463,0
18,19,"CREATE TABLE t0 (c0 INTEGER UNIQUE, c1 INTEGER...","CREATE TABLE t0 (c0 INTEGER UNIQUE, c1 INTEGER...",3,4,102,-1
19,20,"CREATE TABLE t0 ( c0 BOOLEAN, c1 BOO...",nonono,16,0,11593,16

In [ ]:
results[original]