In [48]:
import polars
%pip install polars

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: polars in c:\users\saschimi\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.30.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: C:\Users\saschimi\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [49]:
import polars as pl

In [50]:
title = ["orig-num-stmt","reduced-num-stmt","orig-token","reduced-token","time-taken"]
types = [pl.Int64, pl.Int64, pl.Int64, pl.Int64, pl.Float64]
empty_schema = {
    "query-num":  pl.Series(name="query-num", values=[], dtype=pl.Int32),
    **{
        title[i]: pl.Series(name=title[i], values=[], dtype=types[i])
        for i in range(len(title))
    }
}
master_df = pl.DataFrame(empty_schema)

In [51]:
master_df

shape: (0, 6)
┌───────────┬───────────────┬──────────────────┬────────────┬───────────────┬────────────┐
│ query-num ┆ orig-num-stmt ┆ reduced-num-stmt ┆ orig-token ┆ reduced-token ┆ time-taken │
│ ---       ┆ ---           ┆ ---              ┆ ---        ┆ ---           ┆ ---        │
│ i32       ┆ i64           ┆ i64              ┆ i64        ┆ i64           ┆ f64        │
╞═══════════╪═══════════════╪══════════════════╪════════════╪═══════════════╪════════════╡
└───────────┴───────────────┴──────────────────┴────────────┴───────────────┴────────────┘

In [52]:
for i in range(1, 21):
    df = pl.read_csv(f"../output/result{i}.csv", separator=",", has_header=False, new_columns=title)
    df = df.with_columns(
        pl.lit(i).alias("query-num")
    )
    df = df.select(
    ["query-num"] + [col for col in df.columns if col != "query-num"])
    master_df = pl.concat([master_df, df], how="vertical")

shape: (20, 6)
┌───────────┬───────────────┬──────────────────┬────────────┬───────────────┬─────────────┐
│ query-num ┆ orig-num-stmt ┆ reduced-num-stmt ┆ orig-token ┆ reduced-token ┆ time-taken  │
│ ---       ┆ ---           ┆ ---              ┆ ---        ┆ ---           ┆ ---         │
│ i32       ┆ i64           ┆ i64              ┆ i64        ┆ i64           ┆ f64         │
╞═══════════╪═══════════════╪══════════════════╪════════════╪═══════════════╪═════════════╡
│ 1         ┆ 2             ┆ 2                ┆ 74         ┆ 74            ┆ 60.363254   │
│ 2         ┆ 18            ┆ 5                ┆ 266        ┆ 100           ┆ 500.107231  │
│ 3         ┆ 117           ┆ 102              ┆ 1002       ┆ 1002          ┆ 2835.256154 │
│ 4         ┆ 42            ┆ 9                ┆ 336        ┆ 95            ┆ 884.894843  │
│ 5         ┆ 5             ┆ 3                ┆ 51         ┆ 34            ┆ 127.517149  │
│ …         ┆ …             ┆ …                ┆ …          ┆ …             ┆ …           │
│ 16        ┆ 2             ┆ 2                ┆ 3029       ┆ 3029          ┆ 59.149156   │
│ 17        ┆ 65            ┆ 64               ┆ 3754       ┆ 3754          ┆ 2123.511412 │
│ 18        ┆ 2             ┆ 2                ┆ 132        ┆ 132           ┆ 51.175635   │
│ 19        ┆ 3             ┆ 4                ┆ 99         ┆ 99            ┆ 117.43962   │
│ 20        ┆ 16            ┆ 2                ┆ 5557       ┆ 216           ┆ 234.444666  │
└───────────┴───────────────┴──────────────────┴────────────┴───────────────┴─────────────┘

In [54]:
master_df.head(20)

shape: (20, 6)
┌───────────┬───────────────┬──────────────────┬────────────┬───────────────┬─────────────┐
│ query-num ┆ orig-num-stmt ┆ reduced-num-stmt ┆ orig-token ┆ reduced-token ┆ time-taken  │
│ ---       ┆ ---           ┆ ---              ┆ ---        ┆ ---           ┆ ---         │
│ i32       ┆ i64           ┆ i64              ┆ i64        ┆ i64           ┆ f64         │
╞═══════════╪═══════════════╪══════════════════╪════════════╪═══════════════╪═════════════╡
│ 1         ┆ 2             ┆ 2                ┆ 74         ┆ 74            ┆ 60.363254   │
│ 2         ┆ 18            ┆ 5                ┆ 266        ┆ 100           ┆ 500.107231  │
│ 3         ┆ 117           ┆ 102              ┆ 1002       ┆ 1002          ┆ 2835.256154 │
│ 4         ┆ 42            ┆ 9                ┆ 336        ┆ 95            ┆ 884.894843  │
│ 5         ┆ 5             ┆ 3                ┆ 51         ┆ 34            ┆ 127.517149  │
│ …         ┆ …             ┆ …                ┆ …          ┆ …             ┆ …           │
│ 16        ┆ 2             ┆ 2                ┆ 3029       ┆ 3029          ┆ 59.149156   │
│ 17        ┆ 65            ┆ 64               ┆ 3754       ┆ 3754          ┆ 2123.511412 │
│ 18        ┆ 2             ┆ 2                ┆ 132        ┆ 132           ┆ 51.175635   │
│ 19        ┆ 3             ┆ 4                ┆ 99         ┆ 99            ┆ 117.43962   │
│ 20        ┆ 16            ┆ 2                ┆ 5557       ┆ 216           ┆ 234.444666  │
└───────────┴───────────────┴──────────────────┴────────────┴───────────────┴─────────────┘

In [60]:
master_df = master_df.with_columns(
    (100 - 100 / pl.col("orig-token") * pl.col("reduced-token"))
    .alias("pct")
)
master_df

shape: (20, 7)
┌───────────┬───────────────┬───────────────┬────────────┬──────────────┬─────────────┬────────────┐
│ query-num ┆ orig-num-stmt ┆ reduced-num-s ┆ orig-token ┆ reduced-toke ┆ time-taken  ┆ pct        │
│ ---       ┆ ---           ┆ tmt           ┆ ---        ┆ n            ┆ ---         ┆ ---        │
│ i32       ┆ i64           ┆ ---           ┆ i64        ┆ ---          ┆ f64         ┆ f64        │
│           ┆               ┆ i64           ┆            ┆ i64          ┆             ┆            │
╞═══════════╪═══════════════╪═══════════════╪════════════╪══════════════╪═════════════╪════════════╡
│ 1         ┆ 2             ┆ 2             ┆ 74         ┆ 74           ┆ 60.363254   ┆ 0.0        │
│ 2         ┆ 18            ┆ 5             ┆ 266        ┆ 100          ┆ 500.107231  ┆ 62.406015  │
│ 3         ┆ 117           ┆ 102           ┆ 1002       ┆ 1002         ┆ 2835.256154 ┆ 0.0        │
│ 4         ┆ 42            ┆ 9             ┆ 336        ┆ 95           ┆ 884.894843  ┆ 71.72619   │
│ 5         ┆ 5             ┆ 3             ┆ 51         ┆ 34           ┆ 127.517149  ┆ 33.333333  │
│ …         ┆ …             ┆ …             ┆ …          ┆ …            ┆ …           ┆ …          │
│ 16        ┆ 2             ┆ 2             ┆ 3029       ┆ 3029         ┆ 59.149156   ┆ 1.4211e-14 │
│ 17        ┆ 65            ┆ 64            ┆ 3754       ┆ 3754         ┆ 2123.511412 ┆ 0.0        │
│ 18        ┆ 2             ┆ 2             ┆ 132        ┆ 132          ┆ 51.175635   ┆ 0.0        │
│ 19        ┆ 3             ┆ 4             ┆ 99         ┆ 99           ┆ 117.43962   ┆ 0.0        │
│ 20        ┆ 16            ┆ 2             ┆ 5557       ┆ 216          ┆ 234.444666  ┆ 96.113011  │
└───────────┴───────────────┴───────────────┴────────────┴──────────────┴─────────────┴────────────┘